<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de pelicula: <%= pelicula.title %> </title>
    <link rel='stylesheet' href='/stylesheets/detail.css' />
</head>
<body>

    <header>
      
    <% if(locals.usuario) { %> 
        <form class="form-logout" action="/users" method="POST">
        
          <button class="logout" type="submit">Cerrar Sesión</button>
        
        </form>
    <% } %> 
  
      </header>
<main class="fade-in">
    <h1>Detalle de <span class="peliTitulo"> <%= pelicula.title %> </span> </h1>

    <div class="infoPeli">

        <h3> Titulo: <span class="infoEspecificaPeli"> <%= pelicula.title %> </span> </h3>

        <h3> Rating: <span class="infoEspecificaPeli"> <%= pelicula.rating %> </span> </h3>

        <% if( pelicula.genre_id  !== null ) { %> 
            <h3> Género: <span class="infoEspecificaPeli"> <%= pelicula.genero['name'] %>  </span> </h3>
        <% } else { %>
            <h3> Género: No tiene género especficado </h3>
        <% } %> 

        <h3> Cantidad de Awards: <span class="infoEspecificaPeli"> <%= pelicula.awards %> </span> </h3>

        <h3> Fecha de Estreno: <span class="infoEspecificaPeli"> <%= pelicula.releaseDate %> </span> </h3>

        <% if(pelicula.length == null) { %> 
        <h3> Duración de la pelicula: <span class="infoEspecificaPeli"> No está registrado </span> </h3>
        <% } else { %>
        <h3> Duración de la película: <span class="infoEspecificaPeli"> <%= pelicula.length %> minutos </span> </h3>
        <% } %>  


        <% if(pelicula.actores != pelicula.id) { %>
            <h3 class="listaActores"> Lista de Actores: </h3>
                <ul>
                    <% pelicula.actores.forEach(actor => { %>

                            <li><span class="infoEspecificaPeli"> <%= actor.firstName %> <%= actor.lastName %>  </span></li>
                        
                    <% }) %> 
                </ul>
        <% } else {%>
            <h3>No hay actores relacionados</h3>
        <% } %> 

        
    </div>
    <% if(locals.usuario.rol == 1) { %> 
        <div class="updateDelete">
        <a class="actualizar" href="/detail/<%= pelicula.id %>/update" class="actualizarPeli">Actualizá los datos de la película</a>

        <form class="formBorrarPeli" action="/detail/<%= pelicula.id %>/delete" method="POST">
        
            <input class="inputBorrarPeli" type="submit" value="Borrar">

        </form>
    </div>
    <% } %> 
    
    <a class="cambiarPagina" href="/" class="volverHome">Volver a la Home</a>
</main>
</body>
</html>