<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>

      <% if(locals.usuario) { %> 
        <form class="form-logout" action="/users" method="POST">
        
          <button class="logout" type="submit">Logout</button>
        
        </form>
      <% } %> 

    </header>

    <h1><%= title %></h1>

    <h3>Lista de peliculas de DH Movies:</h3>

    <ul class="listaPeliculas">
    
      <% todasLasPeliculas.map(pelicula => { %> 
        <li class="pelicula"><a href="/detail/<%= pelicula.id %> "> <%= pelicula.title %>  </a></li> 
      <% }) %>
    
    </ul>

    <% if(locals.usuario.rol == 1 ) { %> 
    <a href="/newFilm">¡Agregá una película!</a>
    <a href="/users/database">¡Usuarios Cinefilos!</a>
    <% } %> 

    <% if(!locals.usuario) { %> 
      <a href="/users/register">¡Registrate!</a>

      <a href="/users/login">¡Iniciá Sesión!</a>

      <% } else { %> 
        <h1>Bienvenido <%= locals.usuario.email %> </h1>
      <% } %> 
</a>

