<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>

    <header>

      <% if(locals.usuario) { %> 
        <form class="form-logout" action="/users" method="POST">
        
          <button class="logout" type="submit">Logout</button>
        
        </form>
      <% } %> 

    </header>

<div class="lista fade-in">
    <h1 class="titulo"><%= title %></h1>

    <h3 class="tituloLista">Lista de peliculas de DH Movies:</h3>

    <ul class="listaPeliculas">
    
      <% todasLasPeliculas.map(pelicula => { %> 
        <li class="pelicula"><a href="/detail/<%= pelicula.id %> "> <%= pelicula.title %>  </a></li> 
      <% }) %>
    
    </ul>
<div class="aButtonDiv">

    <% if(locals.usuario.rol == 1 ) { %> 
    <a class="aButton" href="/newFilm">¡Agregá una película!</a>
    <a class="aButton" href="/users/database">¡Usuarios Cinefilos!</a>
    <% } %> 
  </div>

    <% if(!locals.usuario) { %> 
      <a class="aButton" href="/users/register">¡Registrate!</a>

      <a class="aButton" href="/users/login">¡Iniciá Sesión!</a>

      <% } else { %> 
        <h1 class="welcome">Bienvenido/a <span class="usuario"> <%= locals.usuario.email %> </span> </h1>
      <% } %> 

</div>
</body>
